<div class="hero-unit">
    <h1>Search in Json File</h1>
    <%= form_tag(:search, remote: true, html: { class: 'form-inline'} ) do %>
        <div class="form-group">
            <%= label_tag 'search' , nil, class: 'sr-only' %>
            <%= search_field_tag 'search', nil, class: 'form-control', placeholder: 'Search' %>
        <ul>
            <li>Free text search type words, example: Lisp Common </li>
            <li>For exactly matches use quotes, example: "Thomas Eugene"</li>
            <li>For negative search use -, example: Microsoft -Apple. If you want not an array field, type for example: john -array</li>
            <li>For Match in different fields use these Custom fields: </li>
        </ul>
        </div>
        <div class="row">
            <hr />
            <h2>Custom fields</h2>
        </div>
        <%= render partial: 'field', locals: { name: 'Name'} %>
        <%= render partial: 'field', locals: { name: 'Type'} %>
        <%= render partial: 'field', locals: { name: 'Designed by'} %>


        <div class="form-group">
            <div class="checkbox">
                <label>
                <%= check_box_tag 'Precision' %>
                Precision
                </label>
            </div>
            <p>check to add case sensitive</p>
        </div>
        <div class="form-group">

            <div class="checkbox">
                <label>
                <%= check_box_tag 'Match all'  %>
                Match All
                </label>
            </div>
            <p>check if you want that results have all the fields together</p>
        </div>
        <div class="form-group">

                <%= button_tag 'Go', class: 'btn btn-default'  %>

        </div>
    <% end %>
</div>

<div id="results">

</div>